/* inquiry table */

.inquiry-table {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.inquiry-table table {
  width: 100%;
  border-collapse: collapse;
}

.inquiry-table table th {
  background-color: #e6e6e6;
}

.inquiry-table table tr th,
td {
  width: 25%;
  height: 5vh;
  border: 1px solid black;
  border-right: hidden;
  border-left: hidden;
}

.inquiry-table-btn {
  width: 100%;
  position: relative;
  display: flex;
}
.inquiry-table-btn > input:first-child {
  width: 100%;
  font-size: 20px;
  color: black;
  border: none;
  box-sizing: border-box;
  margin-top: 1vh;
  margin-right: 2vw;
  padding: 5px 0;
  background-color: #fff;
}
.inquiry-table-btn > input:last-child {
  font-size: 20px;
  color: white;
  border: 0;
  border-radius: 10%;
  margin-top: 1vh;
  padding: 2px 5px;
  background-color: #585858;
}
