doctype html
head
    title 소프트웨어공학
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='./main.css' rel='stylesheet')
    link(href='./inquiry.css' rel='stylesheet')
body
    div.root
        //- header
        //-     .header-logo
        //-         h3 코로나 19
        //-     .header-login-btn
        //-         //- input(type='button' value='login')
        //- .content
        .error
            block content
        script(src='/app.js').